In [1]:
import numpy as np
import pandas as pd
import datetime
from sodapy import Socrata
import urllib
import dill
import future

In [2]:
sales_data = {}
boroughs = ['manhattan', 'brooklyn', 'bronx', 'statenisland', 'queens']
boroughs2 = ['manhattan', 'brooklyn', 'bronx', 'si', 'queens']
for year in range(2003,2017):
    print(year)
    
    if(year < 2007):
        currentyear = pd.DataFrame()
        yr = str(year)[2:5]
        
        for borough in boroughs2:
            print(borough)
            site = "http://www1.nyc.gov/assets/finance/downloads/sales_" +\
                   borough + "_" + yr + ".xls"
                   
            data = pd.read_excel(site)
            currentyear = currentyear.append(data)
            
        sales_data[year] = currentyear
            
    if(year == 2007):
        
        currentyear = pd.DataFrame()
        
        for borough in boroughs:
            print(borough)
            site = "http://www1.nyc.gov/assets/finance/downloads/excel/rolling_sales/sales_" +\
                   str(year) + "_" + borough + ".xls"
                   
            data = pd.read_excel(site)
            currentyear = currentyear.append(data)
            
        sales_data[year] = currentyear
            
    if (year == 2008):
        
        currentyear = pd.DataFrame()
        
        for borough in boroughs:
            
            site = "http://www1.nyc.gov/assets/finance/downloads/pdf/09pdf/rolling_sales/sales_" +\
                   str(year) + "_" + borough + ".xls"
            data = pd.read_excel(site)
            
            currentyear = currentyear.append(data)
            
        sales_data[year] = currentyear
            
    if(year == 2009): 
        
        currentyear = pd.DataFrame()
        
        for borough in boroughs:
            
            site = "http://www1.nyc.gov/assets/finance/downloads/pdf/rolling_sales/annualized-sales/" +\
                   str(year) + "_" + borough + ".xls"
            data = pd.read_excel(site)
            
            currentyear = currentyear.append(data)
    if(year > 2009): 
        
        currentyear = pd.DataFrame()
        
        for borough in boroughs:
            
            site = "http://www1.nyc.gov/assets/finance/downloads/pdf/rolling_sales/annualized-sales/" +\
                   str(year) + "/" + str(year) + "_" + borough + ".xls"
            data = pd.read_excel(site)
            
            currentyear = currentyear.append(data)
            
    sales_data[year] = currentyear

2003
manhattan
brooklyn
bronx
si
queens
2004
manhattan
brooklyn
bronx
si
queens
2005
manhattan
brooklyn
bronx
si
queens
2006
manhattan
brooklyn
bronx
si
queens
2007
manhattan
brooklyn
bronx
statenisland
queens
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [3]:
sales_data[2014].head()

,"BRONX ANNUALIZE SALE FOR 2014. (All Sales From Jan 1, 2014 - Dec 31, 2014)","BROOKLYN ANNUALIZE SALE FOR 2014. (All Sales From Jan 1, 2014 - Dec 31, 2014)","MANHATTAN ANNUALIZE SALE FOR 2014. (All Sales From Jan 1, 2014 - Dec 31, 2014)","QUEENS ANNUALIZE SALE FOR 2014. (All Sales From Jan 1, 2014 - Dec 31, 2014)","STATEN ISLAND ANNUALIZE SALE FOR 2014. (All Sales From Jan 1, 2014 - Dec 31, 2014)",Unnamed: 1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 19,Unnamed: 2,Unnamed: 20,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,Sales File as of 3/31/2015. Coop Sales Files ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Neighborhood Name 1/10/15. Descriptive Data a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Building Class Category is based on Building C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,BOROUGH\n,NaN,NaN,NEIGHBORHOOD\n,ZIP CODE\n,RESIDENTIAL UNITS\n,COMMERCIAL UNITS\n,TOTAL UNITS\n,...,SALE PRICE\n,BUILDING CLASS CATEGORY\n,SALE DATE\n,TAX CLASS AT PRESENT\n,BLOCK\n,LOT\n,EASE-MENT\n,BUILDING CLASS AT PRESENT\n,ADDRESS\n,APARTMENT NUMBER\n
4,NaN,NaN,1,NaN,NaN,ALPHABET CITY,10009,1,1,2,...,0,01 ONE FAMILY DWELLINGS,2014-12-05 00:00:00,1,402,42,,S1,96 AVENUE B,

In [4]:
#Cleaning Sales Data
for key in sales_data.keys():
    if(int(key) < 2011):
        sales_data[key].columns = sales_data[key].iloc[2]
        sales_data[key] = sales_data[key].drop(sales_data[key].index[0:3])
    else:
        sales_data[key].columns = sales_data[key].iloc[3]
        sales_data[key] = sales_data[key].drop(sales_data[key].index[0:4])

for key in sales_data.keys():
        sales_data[key].columns = sales_data[key].columns.str.strip()

for key in sales_data.keys():
    sales_data[key].columns.values[0] = "b1"
    sales_data[key].columns.values[1] = "b2"
    sales_data[key].columns.values[3] = "b3"
    sales_data[key].columns.values[4] = "b4"
    sales_data[key].columns.values[2] = "b5"

cols = ['b1', 'b2', 'b3', 'b4']
for key in sales_data.keys():
    sales_data[key]['Borough'] = sales_data[key][cols].sum(axis = 1)

for key in sales_data.keys():
    sales_data[key]['Borough'] = sales_data[key]['Borough'].fillna(1)
    
columns = ['b1', 'b2', 'b3', 'b4', 'b5']
for key in range(2003, 2017):
        sales_data[key] = sales_data[key].drop(columns, axis = 1)

/Users/samgass/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/samgass/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
sales_data[2014].head()

3,NEIGHBORHOOD,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,...,BUILDING CLASS CATEGORY,SALE DATE,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,Borough
4,ALPHABET CITY,10009,1,1,2,1400,1839,1901,1,S1,...,01 ONE FAMILY DWELLINGS,2014-12-05 00:00:00,1,402,42,,S1,96 AVENUE B,,1.0
5,ALPHABET CITY,10002,2,1,3,826,2075,1910,1,S2,...,02 TWO FAMILY DWELLINGS,2014-01-31 00:00:00,1,372,37,,S2,17 AVENUE D,,1.0
6,ALPHABET CITY,10009,3,0,3,2381,3084,1899,1,C0,...,03 THREE FAMILY DWELLINGS,2014-11-26 00:00:00,1,377,66,,C0,243 EAST 7TH STREET,,1.0
7,ALPHABET CITY,10009,8,2,10,2650,7620,1920,2,C7,...,07 RENTALS - WALKUP APARTMENTS,2014-07-18 00:00:00,2B,372,51,,C7,300 EAST 2ND STREET,,1.0
8,ALPHABET CITY,10009,11,0,11,2212,8294,1920,2,C3,...,07 RENTALS - WALKUP APARTMENTS,2014-05-30 00:00:00,2,373,15,,D1,324 EAST 4TH STREET,,1.0

In [6]:
with open('pluto.pkl', 'rb') as file:
    datastruct = dill.load(file)

0         21.0
1         21.0
2         21.0
3         21.0
4         21.0
5         21.0
6         21.0
7         21.0
8         21.0
9         21.0
10         NaN
11        21.0
12        21.0
13        21.0
14        21.0
15        21.0
16        21.0
17        21.0
18        21.0
19        21.0
20        21.0
21        21.0
22        21.0
23        21.0
24        21.0
25        21.0
26        21.0
27        21.0
28        21.0
29        21.0
         ...
89887    323.0
89888    323.0
89889    323.0
89890    323.0
89891    323.0
89892    323.0
89893    323.0
89894    323.0
89895    323.0
89896    323.0
89897    323.0
89898    323.0
89899    323.0
89900    323.0
89901    323.0
89902    323.0
89903    323.0
89904    323.0
89905    323.0
89906    319.0
89907    319.0
89908    319.0
89909    319.0
89910    319.0
89911    319.0
89912      NaN
89913      NaN
89914      NaN
89915      NaN
89916      NaN
Name: CT2010, Length: 859560, dtype: float64

In [8]:
for key in sales_data.keys():        
    sales_data[key]= sales_data[key].rename(columns = {'LOT':'Lot', 'BLOCK':'Block'})
    sales_data[key]['BOROUGH'] = sales_data[key]['Borough'].astype(int)
    sales_data[key]['Block'] = sales_data[key]['Block'].astype(int)
    sales_data[key]['Lot'] = sales_data[key]['Lot'].astype(int)

for key in pluto_dict.keys():
    pluto_dict[key]['BOROUGH'] = pluto_dict[key]['BoroCode']

In [143]:
#FIX 14 and 16

for year in [2014, 2016]:
    yr = str(year)[2:4]
    pluto_dict[yr]['Zip'] = pluto_dict[yr]['ZipCode'].str.slice(0,5)
    pluto_dict[yr]['full_address'] = pluto_dict[yr]['Address'].str.strip() +\
                                      ", " + pluto_dict[yr]['Zip']
       

    #Fix Census Tracts    
    pluto_dict[yr]['CT2010'] = pluto_dict[yr]['CT2010'].astype(str)
    pluto_dict[yr]['CT2010'] = pluto_dict[yr].apply(lambda row: row['CT2010'] if row['CT2010'][-1] != '0' else row['CT2010'][:-2], axis = 1)
    pluto_dict[yr]['CT2010'] = pluto_dict[yr]['CT2010'].replace('nan', float('NaN'))

In [13]:
#Percent that are residential per year
residential_pct = {}

for year in sales_data.keys():
    residential = len(sales_data[year][(sales_data[year]['TAX CLASS AT TIME OF SALE'] == 1) | \
                                       (sales_data[year]['TAX CLASS AT TIME OF SALE'] == 2)]) /\
                  len(sales_data[year])
    residential_pct[year] = residential 
    
residential_pct

{2003: 0.9357162157597866,
 2004: 0.9237702522296214,
 2005: 0.9034154784338781,
 2006: 0.9042278647637523,
 2007: 0.898868319487146,
 2008: 0.8830570397270343,
 2009: 0.869577971864791,
 2010: 0.8585520597948896,
 2011: 0.8554913294797688,
 2012: 0.8586719948620972,
 2013: 0.863416097983862,
 2014: 0.8723037198236495,
 2015: 0.8712464186514446,
 2016: 0.8988152239271319}

In [33]:
#PCT That have square footage
sqftok = {}

for year in sales_data.keys():
    sqft = len(sales_data[year][sales_data[year]['GROSS SQUARE FEET'] > 0]) / \
           len(sales_data[year])
    sqftok[year] = sqft 
    
sqftok

{2003: 0.6485966156652143,
 2004: 0.6230695705065921,
 2005: 0.5955775903205196,
 2006: 0.5812318137730359,
 2007: 0.5343756132661739,
 2008: 0.5119532184273755,
 2009: 0.5527035135675712,
 2010: 0.58507155686888,
 2011: 0.5074056443386603,
 2012: 0.5125414778606344,
 2013: 0.5117367239424723,
 2014: 0.5269656206659376,
 2015: 0.529460009185749,
 2016: 0.538271384985413}

In [36]:
#PCT of those that have total sale prices over 1000

ov1000 = {}

for year in sales_data.keys():
    df = len(sales_data[year][(sales_data[year]['SALE PRICE'] > 1000) &
                              (sales_data[year]['GROSS SQUARE FEET'] > 0) &
                              ((sales_data[year]['TAX CLASS AT TIME OF SALE'] == 1) | \
                              (sales_data[year]['TAX CLASS AT TIME OF SALE'] == 2))]) / \
         len(sales_data[year][(sales_data[year]['GROSS SQUARE FEET'] > 0) &
                              ((sales_data[year]['TAX CLASS AT TIME OF SALE'] == 1) | \
                              (sales_data[year]['TAX CLASS AT TIME OF SALE'] == 2))])
    ov1000[year] = df 
    
ov1000

{2003: 0.5929380321274075,
 2004: 0.6425850395078679,
 2005: 0.6641045683515719,
 2006: 0.653995049819128,
 2007: 0.6103106109569251,
 2008: 0.5638748786436504,
 2009: 0.5650075003409246,
 2010: 0.5922562674094708,
 2011: 0.5840352865500659,
 2012: 0.5694958249656484,
 2013: 0.607044819628325,
 2014: 0.6229476899579992,
 2015: 0.628650427311366,
 2016: 0.6232650956299468}

In [62]:
#How many buildings sold were residential and had square footage and had sale price over 1000 in each year
usable = {}

for year in sales_data.keys():
    canuse = len(sales_data[year][(sales_data[year]['GROSS SQUARE FEET'] > 0) &
                                  (sales_data[year]['SALE PRICE'] > 1000)     &
                                  ((sales_data[year]['TAX CLASS AT TIME OF SALE'] == 1) | 
                                  (sales_data[year]['TAX CLASS AT TIME OF SALE'] == 2))])
    usable[year] = canuse 
    
usable

{2003: 43039,
 2004: 47737,
 2005: 45879,
 2006: 41220,
 2007: 32106,
 2008: 23813,
 2009: 20716,
 2010: 21262,
 2011: 19067,
 2012: 21552,
 2013: 24989,
 2014: 26104,
 2015: 27511,
 2016: 27797}

In [81]:
sales_nocoops = {}

for year in sales_data.keys():
    sales_nocoops[year] = sales_data[year][(sales_data[year]['GROSS SQUARE FEET'] > 0) &
                                  (sales_data[year]['SALE PRICE'] > 1000)     &
                                  ((sales_data[year]['TAX CLASS AT TIME OF SALE'] == 1) | 
                                  (sales_data[year]['TAX CLASS AT TIME OF SALE'] == 2))]
    
    sales_nocoops[year]['PPSF'] = sales_nocoops[year]['SALE PRICE'] / sales_nocoops[year]['GROSS SQUARE FEET']

/Users/samgass/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [82]:
for year in sales_nocoops.keys():
    print(len(sales_nocoops[year]))

43039
47737
45879
41220
32106
23813
20716
21262
19067
21552
24989
26104
27511
27797

In [162]:
size = 1        # sample size
replace = True  # with replacement
fn = lambda obj: obj.loc[np.random.choice(obj.index, size, replace),:]

merged_tracts = {}
for key in range(2004, 2017):
    if(key != 2008):
        num = str(key)[-2:]
    else: 
        num = '07'
    if key < 2012:
        tractname = 'CT2000'
    else:
        tractname = 'CT2010'
    print(key)
    
    tracts = pluto_dict[num].groupby(['BOROUGH', 'Block'], as_index=False).apply(fn)
    tracts = tracts.loc[:, ['BOROUGH', 'Block', tractname]]
    tracts[tractname] = tracts[tractname].str.strip()

    merged_tracts[key] = pd.merge(sales_nocoops[key], tracts, on = ['BOROUGH', 'Block'])

2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [84]:
for year in merged_tracts.keys():
    print(len(merged_tracts[year]))

47737
45879
40234
32106
23813
20716
21262
19060
21552
24989
26104
27511
27797

In [90]:
missing_tracts = {}

for year in merged_tracts.keys():
    if year < 2012:
        tractname = 'CT2000'
    else:
        tractname = 'CT2010'
        
    missing = len(merged_tracts[year][pd.isnull(merged_tracts[year][tractname])])
    missing_tracts[year] = missing

missing_tracts

{2004: 0,
 2005: 0,
 2006: 0,
 2007: 0,
 2008: 0,
 2009: 0,
 2010: 0,
 2011: 0,
 2012: 0,
 2013: 0,
 2014: 91,
 2015: 0,
 2016: 27}

In [163]:
sales_by_tract = {}
for key in merged_tracts.keys():
    if key < 2012:
        tractname = 'CT2000'
    else:
        tractname = 'CT2010'
    df = merged_tracts[key]
    df['PPSF'] = df['PPSF'].astype(int)
    grouped = df['PPSF'].groupby(df[tractname]).describe()
    grouped = pd.DataFrame(grouped)
    grouped['Year'] = key
    grouped['Tract'] = grouped.index
    sales_by_tract[key] = grouped

sales_tract = pd.DataFrame()
for key in sales_by_tract.keys():
    sales_tract = sales_tract.append(sales_by_tract[key])

sales_tract['Tract'] = sales_tract['Tract'].str.strip()
sales_tract.to_csv('sales_tract.csv')

In [93]:
#Check the missing tracks on data before filtering for square footage and price

merged_all = {}
for key in range(2004, 2017):
    if(key != 2008):
        num = str(key)[-2:]
    else: 
        num = '07'
    if key < 2012:
        tractname = 'CT2000'
    else:
        tractname = 'CT2010'
    print(key)
    
    tracts = pluto_dict[num].groupby(['BOROUGH', 'Block'], as_index=False).apply(fn)
    tracts = tracts.loc[:, ['BOROUGH', 'Block', tractname]]

    merged_all[key] = pd.merge(sales_data[key], tracts, on = ['BOROUGH', 'Block'])

2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [96]:
#SAVE the non filtered data
allsales_by_tract = {}
for key in merged_all.keys():
    print(key)
    if key < 2012:
        tractname = 'CT2000'
    else:
        tractname = 'CT2010'
    
    df = merged_all[key]
    grouped = df['SALE PRICE'].groupby(df[tractname]).describe()
    grouped = pd.DataFrame(grouped)
    grouped['Year'] = key
    grouped['Tract'] = grouped.index
    allsales_by_tract[key] = grouped

allsales_tract = pd.DataFrame()
for key in sales_by_tract.keys():
    allsales_tract = allsales_tract.append(allsales_by_tract[key])
    
allsales_tract.to_csv('allsales_tract.csv')

2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

In [158]:
sales_tract[sales_tract['Tract'] == '100']

,count,mean,std,min,25%,50%,75%,max,Year,Tract
100,43.0,239.209302,77.567347,2.0,208.00,252.0,288.00,370.0,2004,100
100,22.0,198.318182,67.735752,39.0,169.75,206.5,248.75,283.0,2004,100
100,7.0,337.428571,196.889865,202.0,211.00,225.0,387.50,738.0,2005,100
100,24.0,188.875000,84.671905,8.0,159.50,207.5,252.00,298.0,2005,100
100,18.0,279.277778,98.960958,4.0,231.25,291.5,336.75,428.0,2006,100
100,15.0,256.333333,102.162802,84.0,202.00,261.0,266.50,546.0,2006,100
100,28.0,407.035714,287.282089,141.0,284.25,332.5,398.25,1662.0,2007,100
100,20.0,226.050000,89.604085,43.0,165.50,237.0,274.75,413.0,2007,100
100,18.0,290.833333,104.828291,24.0,266.50,302.0,362.00,422.0,2008,100
100,15.0,254.533333,56.848001,151.0,226.00,265.0,286.00,386.0,2008,100
100,16.0,248.375000,114.987463,4.0,210.00,282.5,339.50,373.0,2009,100
100,15.0,230.666667,82.628832,34.0,199.50,242.0,271.50,387.0,2009,100
100,17.0,235.058824,83.634226,112.0,186.00,238.0,259.00,430.0,2010,100
100,6.0,249.333333,70.195916,127.0,227.50,266.5,286.75,328.0,2010,100
100,46.0,290.021739,227.026233,3.0,222.25,282.0,299.50,1683.0,2011,100
100,31.0,241.451613,75.500039,7.0,221.50,260.0,286.00,360.0,2012,100
100,27.0,804.296296,2871.402911,106.0,199.50,250.0,299.50,15167.0,2013,100
100,26.0,356.961538,146.955634,27.0,286.00,359.5,422.75,666.0,2015,100

In [164]:
list(merged_tracts[2004]['CT2000'])

['26.02',
 '26.02',
 '26.02',
 '26.01',
 '26.01',
 '22.02',
 '22.02',
 '26.02',
 '28',
 '28',
 '32',
 '32',
 '32',
 '32',
 '32',
 '34',
 '26.01',
 '89',
 '89',
 '87',
 '87',
 '89',
 '89',
 '89',
 '89',
 '89',
 '89',
 '81',
 '87',
 '89',
 '89',
 '89',
 '89',
 '87',
 '93',
 '93',
 '83',
 '83',
 '83',
 '83',
 '89',
 '89',
 '89',
 '93',
 '97',
 '97',
 '87',
 '87',
 '91',
 '91',
 '91',
 '91',
 '91',
 '81',
 '81',
 '93',
 '91',
 '87',
 '29',
 '29',
 '41',
 '41',
 '8',
 '8',
 '16',
 '16',
 '16',
 '16',
 '121',
 '121',
 '121',
 '121',
 '121',
 '121',
 '127',
 '127',
 '133',
 '133',
 '129',
 '129',
 '127',
 '129',
 '121',
 '38',
 '38',
 '38',
 '36.02',
 '32',
 '32',
 '34',
 '34',
 '38',
 '38',
 '38',
 '40',
 '40',
 '40',
 '38',
 '111',
 '111',
 '111',
 '111',
 '111',
 '95',
 '76',
 '84',
 '84',
 '115',
 '13',
 '54',
 '56',
 '58',
 '54',
 '56',
 '50',
 '50',
 '68',
 '68',
 '68',
 '66',
 '64',
 '50',
 '68',
 '48',
 '64',
 '50',
 '68',
 '68',
 '66',
 '66',
 '64',
 '63',
 '63',
 '63',
 '63',
 '63',
 '63',
 '63',
 '55.02',
 '55.02',
 '55.02',
 '63',
 '63',
 '63',
 '63',
 '63',
 '65',
 '65',
 '65',
 '65',
 '59',
 '61',
 '63',
 '63',
 '55.02',
 '55.02',
 '55.02',
 '55.02',
 '67',
 '67',
 '73',
 '67',
 '67',
 '71',
 '71',
 '71',
 '71',
 '71',
 '71',
 '73',
 '73',
 '77',
 '77',
 '77',
 '77',
 '77',
 '77',
 '73',
 '73',
 '77',
 '77',
 '77',
 '67',
 '67',
 '67',
 '73',
 '73',
 '73',
 '73',
 '73',
 '71',
 '71',
 '71',
 '71',
 '77',
 '77',
 '73',
 '75',
 '79',
 '67',
 '71',
 '77',
 '79',
 '79',
 '79',
 '79',
 '67',
 '67',
 '67',
 '67',
 '71',
 '71',
 '73',
 '73',
 '77',
 '77',
 '77',
 '79',
 '75',
 '71',
 '77',
 '75',
 '73',
 '208',
 '208',
 '208',
 '208',
 '208',
 '208',
 '224',
 '224',
 '224',
 '224',
 '224',
 '201.02',
 '201.02',
 '209.02',
 '209.02',
 '209.02',
 '209.02',
 '209.02',
 '209.02',
 '221.02',
 '221.02',
 '221.02',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '230',
 '230',
 '221.02',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '208',
 '208',
 '208',
 '208',
 '216',
 '216',
 '216',
 '216',
 '218',
 '218',
 '220',
 '220',
 '220',
 '220',
 '220',
 '224',
 '224',
 '228',
 '228',
 '220',
 '220',
 '220',
 '226',
 '226',
 '226',
 '226',
 '226',
 '226',
 '226',
 '226',
 '226',
 '226',
 '226',
 '226',
 '230',
 '230',
 '230',
 '230',
 '230',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '200',
 '184',
 '184',
 '184',
 '184',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '206',
 '206',
 '220',
 '220',
 '220',
 '220',
 '226',
 '226',
 '226',
 '226',
 '226',
 '221.02',
 '221.02',
 '208',
 '208',
 '208',
 '226',
 '226',
 '226',
 '226',
 '226',
 '227.02',
 '227.02',
 '227.02',
 '227.02',
 '190',
 '190',
 '200',
 '200',
 '200',
 '208',
 '208',
 '208',
 '208',
 '208',
 '208',
 '208',
 '208',
 '212',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '198',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '206',
 '196',
 '196',
 '216',
 '216',
 '216',
 '216',
 '216',
 '216',
 '216',
 '216',
 '220',
 '220',
 '220',
 '220',
 '220',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '224',
 '224',
 '224',
 '224',
 '224',
 '224',
 '226',
 '226',
 '226',
 '226',
 '228',
 '228',
 '228',
 '228',
 '220',
 '220',
 '220',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '222',
 '',
 '',
 '',
 '',
 '',
 '226',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '228',
 '201.02',
 '207.02',
 '207.02',
 '207.02',
 '207.02',
 '207.02',
 '209.02',
 '217.02',
 '217.02',
 '217.02',
 '221.02',
 '230',
 '230',
 '230',
 '230',
 '230',
 '232',
 '232',
 '236',
 '231.02',
 '218',
 '213.01',
 '216',
 '209.01',
 '209.01',
 '209.01',
 '234',
 '158.02',
 '166',
 '182',
 '182',
 '182',
 '188',
 '178',
 '178',
 '178',
 '172.02',
 '172.02',
 '172.02',
 '178',
 '178',
 '178',
 '178',
 '188',
 '188',
 '188',
 '188',
 '188',
 '188',
 '188',
 '194',
 '194',
 '194',
 '194',
 '194',
 '194',
 '194',
 '194',
 '194',
 '194',
 '192',
 '192',
 '192',
 '174.02',
 '166',
 '166',
 '172.01',
 '172.01',
 '172.01',
 '172.01',
 '172.01',
 '172.01',
 '172.02',
 '182',
 '182',
 '182',
 '182',
 '180',
 '188',
 '170',
 '170',
 '170',
 '170',
 '170',
 '180',
 '178',
 '178',
 '178',
 '188',
 '188',
 '188',
 '188',
 '194',
 '164',
 '180',
 '188',
 '188',
 '188',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '227.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '235.01',
 '235.01',
 '225',
 '225',
 '225',
 '229',
 '229',
 '229',
 '229',
 '229',
 '233',
 '233',
 '233',
 '229',
 '229',
 '229',
 '229',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '231.01',
 '235.01',
 '237',
 '237',
 '237',
 '221.01',
 '231.01',
 '231.01',
 '231.01',
 '229',
 '229',
 '229',
 '229',
 '229',
 '229',
 '229',
 '233',
 '233',
 '233',
 '233',
 '233',
 '233',
 '233',
 '233',
 '233',
 '233',
 '233',
 '233',
 '237',
 '237',
 '237',
 '223.01',
 '225',
 '225',
 '225',
 '225',
 '229',
 '233',
 '233',
 '225',
 '225',
 '229',
 '229',
 '225',
 '225',
 '237',
 '237',
 '213.01',
 '223.01',
 '223.01',
 '223.01',
 '223.01',
 '223.01',
 '225',
 '225',
 '309',
 '309',
 '309',
 '309',
 '309',
 '309',
 '309',
 '309',
 '309',
 '309',
 '309',
 '309',
 '291',
 '291',
 '291',
 '293',
 '291',
 '291',
 '291',
 '291',
 '291',
 '293',
 '293',
 '303',
 '303',
 '293',
 '293',
 '295',
 '295',
 '303',
 '307',
 '307',
 '307',
 '307',
 '293',
 '111',
 '111',
 '115',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '48',
 '70',
 '48',
 '48',
 '70',
 '78',
 '78',
 '66',
 '64',
 '41',
 '41',
 '41',
 '41',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '43',
 '41',
 '2.02',
 '18',
 '18',
 '6',
 '6',
 '6',
 '6',
 '2.01',
 '16',
 '16',
 '16',
 '22.01',
 '22.01',
 '14.02',
 '14.02',
 '30.01',
 '18',
 '30.01',
 '30.01',
 '30.01',
 '30.01',
 '30.01',
 '30.01',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '8',
 '2.02',
 '2.02',
 '14.01',
 '14.01',
 '14.01',
 '14.01',
 '10.01',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '6',
 '30.01',
 '201.02',
 '201.02',
 '197.02',
 '197.02',
 '197.02',
 '193',
 '193',
 '181',
 '189',
 '201.02',
 '90',
 '90',
 '90',
 '98',
 '98',
 '98',
 '108',
 '108',
 '108',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '98',
 '108',
 '108',
 '108',
 '90',
 '90',
 '90',
 '98',
 '98',
 '90',
 '98',
 '98',
 '106.01',
 '108',
 '108',
 '88',
 '88',
 '88',
 '90',
 '86',
 '106.01',
 '106.01',
 '106.01',
 '137',
 '137',
 '137',
 '121',
 '121',
 '121',
 '121',
 '127',
 '133',
 '139',
 '139',
 '139',
 '131',
 '133',
 '133',
 '137',
 '127',
 '119',
 '96',
 '211',
 '80',
 '80',
 '80',
 '80',
 '70',
 '80',
 '80',
 '70',
 '70',
 '78',
 '82',
 '72',
 '72',
 '72',
 '72',
 '72',
 '72',
 '72',
 '80',
 '66',
 '70',
 '74',
 '82',
 '78',
 '82',
 '51',
 '51',
 '51',
 '49',
 '47',
 '45',
 '39',
 '39',
 '15.01',
 '39',
 '33',
 '114.01',
 '122',
 '122',
 '122',
 '122',
 '130',
 '130',
 '130',
 '130',
 '130',
 '142',
 '142',
 '142',
 '142',
 '114.02',
 '114.02',
 '114.02',
 '114.02',
 '114.02',
 '114.02',
 '114.02',
 '120',
 '120',
 '120',
 '120',
 '120',
 '120',
 '128',
 '128',
 '128',
 '128',
 '128',
 '128',
 '128',
 '128',
 '128',
 '110',
 '110',
 '110',
 '110',
 '134',
 '134',
 '134',
 '134',
 '134',
 '110',
 '114.02',
 '120',
 '128',
 '128',
 '140',
 '140',
 '110',
 '110',
 '110',
 '110',
 '126',
 '126',
 '126',
 '118',
 '118',
 '118',
 '110',
 '122',
 '122',
 '122',
 '130',
 '130',
 '128',
 '126',
 '126',
 '134',
 '134',
 '110',
 '126',
 '126',
 '106.02',
 '124',
 '124',
 '124',
 '124',
 '124',
 '132',
 '132',
 '132',
 '124',
 '122',
 '122',
 '118',
 '120',
 '128',
 '132',
 '130',
 '142',
 '142',
 '150.02',
 '160.01',
 '160.01',
 '160.01',
 '160.01',
 '158.01',
 '158.01',
 '158.01',
 '158.01',
 '158.01',
 ...]

In [165]:
sales_tract.head()

,count,mean,std,min,25%,50%,75%,max,Year,Tract
,23.0,251.652174,102.522108,90.0,184.00,252.0,298.50,487.0,2004,
1,6.0,262.666667,233.652448,0.0,64.25,268.0,408.75,588.0,2004,1
10,55.0,232.945455,61.948431,23.0,203.00,236.0,257.50,384.0,2004,10
10.01,1.0,0.000000,NaN,0.0,0.00,0.0,0.00,0.0,2004,10.01
100,65.0,225.369231,76.381765,2.0,190.00,239.0,275.00,370.0,2004,100